# NextAuth Configuration
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your_secreat_key

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# Backend API URL
NEXT_PUBLIC_API_URL=http://localhost:8000/api/v1

# Google Analytics 4 — leave empty to disable tracking
NEXT_PUBLIC_GA_MEASUREMENT_ID=
#Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=